@{
    ViewBag.Title = "Home Page";
}

<main>
    @Html.ActionLink("List of Employees", "Index", "Employee")
    @Html.ActionLink("List of Designations", "Index", "Designation")

    <br />
    <br />
    <br />
    @*Add a button to the page and on click of that button, Columns should be displayed with the help of LINQ query. Columns are Employee Id, First Name, Middle Name, Last Name, Designation Name, DOB, Mobile Number, Address & Salary*@
    <a href="@Url.Action("Query1", "Home")" class="btn btn-primary" style="margin-bottom: 20px;">
        Show Employee Details
    </a>
    @*Add a button to the page and on click of that button, display the count number of records of the employee by designation name using LINQ query.*@
    <a href="@Url.Action("Query2", "Home")" class="btn btn-primary" style="margin-bottom: 20px;">
        Show Employee Count by Designation
    </a>
</main>